@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BloodDrop</h1>
    <h3>Platform that helps collect blood in the right way</h3>
    <br />
    @Html.ActionLink("Become a donor", "Create", "Donor" , null , new { @class = "btn btn-danger btn-lg" })

</div>
